@import './vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.gradient-bg {
  background: url("./assets/gradientbg.png") no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  transition: background 0.5s ease-in;
}
.gradient-bg-red {
  background: url("./assets/gradientbgred.png") no-repeat;
  background-position-x: center;
  background-size: 100% 100%;
}
.gradient-bg-blue {
  background: url("./assets/gradientbgblue.png") no-repeat;
  background-position-x: center;
  background-size: 100% 100%;
}
.gradient-bg-green {
  background: url("./assets/gradientbggreen.png") no-repeat;
  background-position-x: center;
  background-size: 100% 100%;
}

#root {
  max-height: 100vh;
  overflow: hidden;
}

.appPageContent {
  margin-top: 40px;
  max-width: 100%;
  width: 845px;
}

.page-scroll-container {
  max-height: min(800px, 70vh);
  overflow: auto;
}

/* antd overrides */
.truefreeze {
  .ant-btn {
    border-radius: 28px;

    &.full-width {
      width: 100%;
    }
  }
  .ant-btn-primary {
    color: $darkGrey;
    font-size: 16px;
  }
  .ant-menu-horizontal > .ant-menu-item:not(.ant-menu-item-selected) a {
    color: #ffffff;
  }
  .myfreezers .ant-card-cover .ant-image-img {
    margin: auto;
    width: 85%;
  }
  .ant-input-number {
    background: transparent;
    border: none;
    width: 100%;
    
    input {
      height: 78px;
      border: 1px solid #557282;
      border-radius: 10px;
      background: #4C4D4F;
      color: #BDBEC6;
      font-size: 35px;
      padding: 0px 8px 16px 8px;
    }
  }
}

.page-toolbar {
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  font-size: 18px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.notReady {
  filter: blur(4px);
  position: relative;

  &:hover {
    filter: none;
    cursor: not-allowed;
  }

  &:hover:after {
    content: 'This feature is under development.';
    display: block;
    position: absolute;
    background: black;
    color: white;
    padding: 0.5em;
    top: 0;
    left: 0;
  }
}

.font-14 {
  font-size: 14px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-35 {
  font-size: 35px;
}
.flex {
  display: flex;
}
.flex-half {
  flex: 1;
  flex-basis: 50%;
  width: 50%;
}
.flex-row {
  flex-direction: row;
}
.inline-flex {
  display: inline-flex;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.center {
  align-items: center;
}
.bottom {
  align-items: flex-end;
}
.flex-align--right {
  justify-content: right;
}

.m-t-2 {
  margin-top: 2em;
}
.m-r-1 {
  margin-right: 1em;
}
.m-r-2 {
  margin-right: 2em;
}
.m-1 {
  margin: 1em;
}
.p-1 {
  padding: 1em;
}
.p-l-1 {
  padding-left: 1em;
}

.white-text {
  color: #FFFFFF;
}

.myfreezers {
  .ant-card-body {
    padding-top: 0;
  }

  .hide-nft {
    display: none !important;
  }

  .redeem-freezer {
    background-color: #426788;
    border-radius: 6px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    height: 36px;
    font-size: 13px;
    padding: 0.6em 2em;
    position: relative;
    text-align: center;
    width: 100%;

    &[disabled] {
      background-color: #CCC;
      color: #EEE;
      cursor: not-allowed;
      filter: saturate(0.1);
    }

    > .redeem-text {
      align-items: center;
      background: none;
      cursor: pointer;
      display: flex;
      height: 36px;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;
    }
    
    > .progress-gradient {
      background: linear-gradient(#00E6B5, #FF6EF1);
      border-radius: 6px;
      color: #FFFFFF;
      cursor: pointer;
      display: block;
      height: 34px;
      left: -1px;
      max-width: calc(100% + 2px);
      padding: 0.6em 2em;
      position: absolute;
      top: 0;
      width: 0%;
      z-index: 2;
    }
  }
}

.lock-page {
  .lock-card {
    background: rgba(255,255,255,0.09);
    border-radius: 20px;
    box-shadow:  0px 3px 8px -2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:  0px 3px 8px -2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: space-between;
    max-width: 305px;
    padding: 16px 24px;

    .card-title {
      color: #FFFFFF;
      font-size: 21px;
    }
  }
  .lock-chart {
    max-width: 305px;
  }
  .img-placeholder {
    border-radius: 20px;
    max-width: 100%;
  }
  .choke-label {
    margin-bottom: -10px;
  }
}