@import './vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.gradient-bg {
  background: url("./assets/gradientbg.png") no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  transition: background 0.5s ease-in;
}
.gradient-bg-red {
  background: url("./assets/gradientbgred.png") no-repeat;
  background-position-x: center;
  background-size: 100% 100%;
}
.gradient-bg-blue {
  background: url("./assets/gradientbgblue.png") no-repeat;
  background-position-x: center;
  background-size: 100% 100%;
}
.gradient-bg-green {
  background: url("./assets/gradientbggreen.png") no-repeat;
  background-position-x: center;
  background-size: 100% 100%;
}

#root {
  max-height: 100vh;
  overflow: hidden;
}

.appPageContent {
  margin-top: 40px;
  max-width: 100%;
  width: 845px;
}

.page-scroll-container {
  max-height: min(800px, 70vh);
  overflow: auto;
}


@keyframes slow-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slow-show {
  animation: slow-show;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  opacity: 0;
}

/* antd overrides */
.truefreeze {
  .ant-btn {
    border-radius: 28px;

    &.full-width {
      width: 100%;
    }
  }
  .ant-btn-primary {
    color: $darkGrey;
    font-size: 16px;
  }
  .ant-menu-horizontal > .ant-menu-item:not(.ant-menu-item-selected) a {
    color: #ffffff;
  }
  .myfreezers .ant-card-cover .ant-image-img {
    margin: auto;
    width: 85%;
  }
  .ant-input-number {
    background: transparent;
    border: none;
    width: 100%;
    
    input {
      height: 78px;
      border: 1px solid #557282;
      border-radius: 10px;
      background: #4C4D4F;
      color: #BDBEC6;
      font-size: 35px;
      padding: 0px 8px 16px 8px;
    }
  }
  .stakeandburn {
    .ant-tabs-nav-list {
      justify-content: space-between;
      text-align: center;
      width: 100%;

      .ant-tabs-tab+.ant-tabs-tab {
        margin: 0;
      }
    }
    .ant-tabs > .ant-tabs-nav {
      border: 1px solid white;
      border-radius: 28px;
    }
    
    .ant-tabs-bottom>.ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-bottom>div>.ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top>div>.ant-tabs-nav .ant-tabs-ink-bar {
      background: #FFFFFF;
      border-radius: 28px;
      height: 100%;
      z-index: -1;
    }
    .ant-tabs-tab-btn {
      box-sizing: border-box;
      color: #FFFFFF;
      padding: 0 2em;
      transition: all .3s;
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      > .ant-tabs-tab-btn {
        color: #000000;
      }
    }

  }
}

.page-toolbar {
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  font-size: 18px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.notReady {
  filter: blur(4px);
  position: relative;

  &:hover {
    filter: none;
    cursor: not-allowed;
  }

  &:hover:after {
    content: 'This feature is under development.';
    display: block;
    position: absolute;
    background: black;
    color: white;
    padding: 0.5em;
    top: 0;
    left: 0;
  }
}

.font-14 {
  font-size: 14px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-35 {
  font-size: 35px;
}
.flex {
  display: flex;
}
.flex-half {
  flex: 1;
  flex-basis: 50%;
  width: 50%;
}
.flex-row {
  flex-direction: row;
}
.inline-flex {
  display: inline-flex;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.center {
  align-items: center;
}
.bottom {
  align-items: flex-end;
}
.flex-align--right {
  justify-content: right;
}

.m-t-1 {
  margin-top: 1em;
}
.m-r-1 {
  margin-right: 1em;
}
.m-b-1 {
  margin-bottom: 1em;
}
.m-l-1 {
  margin-left: 1em;
}
.m-t-2 {
  margin-top: 2em;
}
.m-r-2 {
  margin-right: 2em;
}
.m-1 {
  margin: 1em;
}
.p-1 {
  padding: 1em;
}
.p-b-1 {
  padding-bottom: 1em;
}
.p-l-1 {
  padding-left: 1em;
}
.p-t-2 {
  padding-top: 2em;
}
.p-r-2 {
  padding-right: 2em;
}
.p-b-2 {
  padding-bottom: 2em;
}
.p-l-2 {
  padding-left: 2em;
}

.width-200 {
  width: 200px;
}

.white-text {
  color: #FFFFFF;
}
.text-align-center {
  text-align: center;
}

// general TF app styles

.translucent-card {
  background: rgba(255,255,255,0.09);
  border-radius: 20px;
  box-shadow:  0px 3px 8px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 3px 8px -2px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 340px;
  justify-content: space-between;
  max-width: 305px;
  padding: 4px 24px 16px;
  position: relative;

  &.wide {
    max-width: none;
    width: 560px;
  }

  &.small {
    height: 100px;
    padding-top: 22px;
    width: 200px;

    > .card-icon {
      right: 16px;
    }
  }

  &.tall {
    height: 370px;
  }

  &.taller {
    height: 400px;
  }

  .card-title {
    color: #FFFFFF;
    font-size: 21px;
  }
  .choke-label {
    margin-bottom: -10px;
  }

  .card-icon {
    color: #FFFFFF;
    fill: #FFFFFF;
    height: 38px;
    position: absolute;
    right: 24px;
    top: 8px;

    &.eth-icon { // the viewbox isn't square. just manually bumping pixels to align inside circle per icon
      height: 32px;
      right: 25px;
      top: 11px;
    }
  }
}

.truefreeze {
  &.disconnected-wallet {
    .skeleton-wrapper, .page-skeleton-wrapper {
      margin-top: 100px;
      width: 50%;
    }
  }

  .uhoh.ant-btn {
    background-color: $uhoh;
    border-color: $uhoh;
    color: #EEEEEE;

    &:hover, &:focus, &:active {
      color: #FFFFFF;
      background: lighten($uhoh, 5%);
    }
  }
  .cool.ant-btn {
    background-color: $cool;
    border-color: $cool;
    color: #EEEEEE;

    &:hover, &:focus, &:active {
      color: #FFFFFF;
      background: lighten($cool, 5%);
    }
  }
  .transparent-card {
    @extend .translucent-card;
    background: none;
    border: 1px solid #FFFFFF;
    text-align: center;
  }
  .translucent-card, .transparent-card {
    &.two-value-card {
      justify-content: center;

      > div + div {
        margin-top: 48px;
      }
    }
  }
  .ant-menu-title-content {
    font-size: 18px;
  }
  .page-toolbar .wallet-info > div {
      margin-right: 1em;
  }
}


// specific page styles

.myfreezers {
  .ant-card-body {
    padding-top: 0;
  }

  .hide-nft {
    display: none !important;
  }

  .redeem-freezer {
    background-color: #426788;
    border-radius: 6px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    height: 36px;
    font-size: 13px;
    padding: 0.6em 2em;
    position: relative;
    text-align: center;
    width: 100%;

    &[disabled] {
      background-color: #CCC;
      color: #EEE;
      cursor: not-allowed;
      filter: saturate(0.1);
    }

    > .redeem-text {
      align-items: center;
      background: none;
      cursor: pointer;
      display: flex;
      height: 36px;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;
    }
    
    > .progress-gradient {
      background: linear-gradient(#00E6B5, #FF6EF1);
      border-radius: 6px;
      color: #FFFFFF;
      cursor: pointer;
      display: block;
      height: 34px;
      left: -1px;
      max-width: calc(100% + 2px);
      padding: 0.6em 0;
      position: absolute;
      top: 0;
      width: 0%;
      z-index: 2;
    }
  }
}

.lock-page {
  .lock-chart {
    max-width: 305px;
  }
  .img-placeholder {
    border-radius: 20px;
    max-width: 100%;
  }
}

.stakeandburn {
  .claim-tab {
    .claim-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 8px;
      position: relative;
    }
    .claim-currency {
      padding-right: 1em;
      position: absolute;
      right: 200px;
      text-align: right;
    }
  }
}
